
.breadCrumbs {
	display: inherit;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #817d7d;
}

.breadMenu a:after {
	margin-left: 4px;
	content: ">";
}

.breadMenu a:last-child:after {
	display: none;
}

@media screen and (min-width: 480px) {


}


@media screen and (min-width: 768px) {

.breadCrumbs {
	display: none;
}


}

@media screen and (min-width: 992px) {

.breadCrumbs {
	display: inherit;
}

}


@media screen and (min-width: 1200px) {
    

}